<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>投稿完了</title>
</head>
<body>
	<div id="container">
		<header>
			<a href="/"><img src="/assets/logo.png"/></a>
		</header>
		<div id="main">
			<div id="contents">
				<h1>ご協力ありがとうございます！</h1>
				<div class="complete-area"><p><%= @msg %></p></div>
				<a class="return" href="/">TOPに戻る</a>
			</div>
		</div>
		<footer>
			<p id="copyright">Copyright (C) 2014 Shinta Inoue</p>
		</footer>
	</div>
</body>
</html>