<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>USER GROWTH & CLIENT IOT</title>
</head>
<body>
	<div id="container">
		<header>
			<a href="/"><img src="assets/logo.png"/></a>
		</header>
		<div id="main">
			<div id="eyecatch">
				<div id="title-area">
					<p class="title">ユーザグロース&クライアントIoT</p>
					<p class="title">忘年会2014</p>
					<br>
					<h1 class="title2"></h1>
				</div>
			</div>
			<div id="contents">
				<!-- <h2>このページについて</h2>
				<hr> -->
				<article>
					<p>
						来る１２月１６日火曜日<br>
						ユーザグロース&クライアントIoT忘年会がいよいよ開催されます！
						<br><br>
						そこでみなさまには、忘年会企画「<a href="http://bokete.jp/" target="_blank">ボケて</a>」に参加いただきます！！
						<!-- <strong>忘年会に参加される方は最低一つは必ずお題に回答してください。</strong>
						楽しい忘年会にするためにご協力お願いします！
						<br><br>
						忘年会にて皆さんに回答していただいた「ボケ」の中から一番面白かった「Best of Bokete」を決定します。
						「Best of Bokete」は忘年会当日に投票で決めたいと思います。
						見事「Best of Bokete」に選ばれた方には<strong>ITっぽい豪華なを差し上げます！</strong>
						<br>（前回の歓迎会の賞品の「ぺっぱっちSDK」よりも豪華ですよ！）
						<br><br>皆さん渾身のボケをお願いします！ -->
					</p>
				</article>

				<h2>ボケてとは？</h2>
				<hr>
				<article>
					<p>
						ボケてとは、「写真で一言ボケる」ことに特化したWebサービスです。
						サイトにたくさんの投稿がありますので、回答の参考にしてください。
						<br><br>
						<a href="http://bokete.jp/boke/recent" target="_blank">ボケての最新の投稿</a>
						<br>
						<a href="http://bokete.jp/boke/legend" target="_blank">殿堂入りのボケ</a>
					</p>
				</article>

				<h2>概要</h2>
				<hr>
				<article>
					<p>
						今年も残るところあとわずか。
						2014年を振り返るべく、今年を代表するお題を３つご用意いたしました。
						<br><br>
						いずれかひとつは必ず回答していただくようよろしくお願いいたします
						（ただし新しく入られた方は任意でOKです）。
						投稿内容は、忘年会当日に匿名でみなさまに発表し、一番面白かった「Best of Bokete」を決定します。
						見事「Best of Bokete」に選ばれた方には<strong>ITっぽい豪華なを差し上げます！</strong>
						（前回の歓迎会の賞品の「ぺっぱっちSDK」よりも豪華ですよ！）
						<br><br>
						新サービスを続々と排出するアイディアあふれるみなさまの渾身のボケを期待しています！！
						<br><br>
						なお<strong>期限は12月15日月曜日19時</strong>までとさせていただきます。
						ご多忙かと思いますが、ご協力をよろしくお願いいたします。
					</p>
				</article>
				<h2>お題</h2>
				<hr>
				<article>
					<p>下記のお題からボケてください。</p>
					<p>※複数回答していただいても構いません。</p><br>
					<ul>
					<li class="theme-list">
						<h3>お題その1</h3>
						<ul>
							<li><img class="theme-top" src="/assets/お題1.png"/></li>
							<input type="button" value="このお題でボケる" onclick="location.href='/comments/theme/1'">
						</ul>
					</li>
					<li class="theme-list">
						<h3>お題その2</h3>
						<ul>
							<li><img class="theme-top" src="/assets/お題2.png"/></li>
							<input type="button" value="このお題でボケる" onclick="location.href='/comments/theme/2'">
						</ul>
					</li>
					<li class="theme-list">
						<h3>お題その3</h3>
						<ul>
							<li><img class="theme-top" src="/assets/お題3.png"/></li>
							<input type="button" value="このお題でボケる" onclick="location.href='/comments/theme/3'">
						</ul>
					</li>
					</ul>
				</article>
			</div>
		</div>
		<footer>
			<p id="copyright">Copyright (C) 2014 Shinta Inoue</p>
		</footer>
	</div>
</body>
</html>